<app-header></app-header>
<div class="container-fluid">
    <div class="intro-section">
        <h1>This is home</h1>
        <p>Show the menu</p>
        <p>you can see the product</p>
    </div>
    <!--Have 1 searchbox left and 1 combobox right-->
    <div class="search-box">
        <input type="text" class="form-control search-input" name="keyword" [(ngModel)]="keyword" placeholder="Tìm kiếm sản phẩm" />
        <select class="form-control product-category" [(ngModel)]="selectedCategoryId" >
            <option selected disabled >Danh mục sản phẩm</option>
            <option [value]="0">Tất cả </option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>            
        </select>
        <button class="btn btn-primary ml-2" (click)="searchProducts()">Tìm kiếm</button>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let product of products ">
            <div class="product-item">
                <img class="product-image" [src]="product.url" alt="Product Image" />
                <h3 class="product-name">{{ product.name}}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p class="product-warranty">Bảo hành : 12 tháng</p>
                <p class="product-price">Giá: {{product.price}} </p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation ">
            <ul class="pagination justify-content-center">
                <li class="page-item" *ngIf="currentPage > 1">
                    <a class="page-link" href="#" (click)="onPageChange(1)">First</a>
                </li>
                <li class="page-item" *ngIf="currentPage > 1">
                    <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)">Previous</a>
                </li>
                <ng-container *ngFor="let page of visiblePages">
                    <li class="page-item" [ngClass]="{'active': page === currentPage }">
                        <a (click)="onPageChange(page)" class="page-link" href="#">
                            {{page}}
                        </a>
                    </li>
                </ng-container>

                <li class="page-item" *ngIf="currentPage < totalPages">
                    <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)">Next
                    </a>
                </li>
                <li class="page-item" *ngIf="currentPage < totalPages">
                    <a class="page-link" href="#" (click)="onPageChange(totalPages)">Last</a>
                </li>
            </ul>
        </nav>
    </div>             
   
    
</div>

<app-footer></app-footer>
<!-- today i'm sao tired -->