<app-header></app-header>
<div class="container">
  <div class="confirmation-container">
    <h1>Xác nhận đơn hàng</h1>
    <p>
      Cảm ơn bạn đã đặt hàng! Dưới đây là thông tin chi tiết về đơn hàng của bạn
    </p>
  </div>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th scope="col" class="text-start">Sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Tổng giá</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of cartItems">
          <tr>
            <td>
              <div class="product-info">
                <img alt="photo" [src]="item.product.thumbnail" class="product-image" >
                <span class="product-name">{{ item.product.name }}</span>
              </div>
            </td>
            <td>{{ item.quantity }}</td>
            <td>{{  item.product.price | currency:'VND':'symbol':'1.0-0'}}</td>
            <td>{{ item.product.price * item.quantity | currency:'VND':'symbol':'1.0-0'}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="input-group mb-3 mt-3 col-4">
      <input type="text" class="form-control" placeholder="Mã giảm giá" name="couponCode" [(ngModel)]="couponCode">
      <div class="input-group-append btn-left">
        <button class="btn btn-outline-secondary">Áp dụng mã </button>
      </div>
    </div>
    <p class="mb-0">Tổng tiền :{{ totalAmount | currency:'VND':'symbol':'1.0-0' }}</p>
    <div class="text-center mt-3 ">
      <button type="button" class="btn btn-gradient">Confirm</button>
    </div>    
  </div>
</div>
<app-footer></app-footer>