<div class="space"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="register-form mx-auto">
        <h2 class="register-header">Đăng ký</h2>
        <div class="form-group">
          <label for="email">Email/Phone</label>
          <input type="text" id="email" class="form-control" />
          <div class="divider-nospace"></div>
        </div>        
        <div class="form-group password-field">
          <label for="password">Mật khẩu</label>
          <input
            id="password"
            type="password"
            placeholder="Ít nhất 3 ký tự"
            class="form-control"
          />
          <i class="password-toggle fas fa-eye-slash"></i>
          <div class="divider-nospace"></div>
        </div>
        <div class="form-group password-field">
          <label for="password">Nhập lại mật khẩu</label>
          <input
            id="password"
            type="password"
            placeholder="Ít nhất 3 ký tự"
            class="form-control"
          />
          <i class="password-toggle fas fa-eye-slash"></i>
          <div class="divider-nospace"></div>
        </div>
        <div class="form-group">
            <label for="full-name">Họ và tên</label>
            <input id="full-name" type="text" class="form-control">
            <div class="divider-nospace"></div>
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input id="address" type="text" class="form-control">
            <div class="divider-nospace"></div>
        </div>
        <div class="form-group">
            <div class="form-check checkbox-text">
                <span>
                    <input id="agree" type="checkbox" class="form-check-input">
                    <label for="agree" class="form-check-label text-start">Tôi đồng ý với các điều khoản và điều kiện</label>
                </span>
            </div>
        </div>
        <button type="button" class="register-button">Đăng ký</button>
        <div class="divider"></div>
        <p class="text-center">Bạn đã có tài khoản ? <span><a href="#" class="register-link">Đăng nhập</a></span></p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
