.container{
    color: white;
    //height: 100vh;
}
.space{
    height: 10px;
}
.register-header{
    text-align: center;
}
.register-form{
    background-color: rgb(12, 12, 55) ;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 1px solid rgb(32, 34, 60);
    align-items: center;
    justify-content: center;
}
.form-control{
    background-color: transparent;
    border: none;
    color: white;
}

.divider-nospace{
    border-top:1px solid white;
}
.password-field{
    position: relative;
}
.password-toggle{
    position:absolute ;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    //color: rgb(105, 244, 181);
    cursor: pointer;
} 

.register-button{
    background: linear-gradient(to right,rgb(225,64,100),rgb(126,43,237));
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin: 20px 0 20px 0;
    border: none;
}
.form-group{
    padding-top: 10px;
}
.register-link{
    text-decoration: none;
}
.checkbox-text input[type="checkbox"]:checked{
    border-color:white;
    background-color: rgb(233, 66, 178);
}